---
import Contact from "@components/Contact.astro";
import Socials from "@components/Socials.astro";
import { SOCIALS } from "@config";
import PageLayout from "../layouts/PageLayout.astro";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<PageLayout frontmatter={{ title: "About me", activeNav: "about" }}>
  <div>
    <div>
      <Contact />
    </div>
    <p>
      <p>Hi! I am Holger!</p>
      <p>
        I love to develop great software. Frontend and cloud environments are my
        sweetspot most of the time!
      </p>
      <p>
        But tech-lingo is just one part of me:<br /> I find joy in the the human
        side of development. Helping other get better at what they do! Listening,
        communicating, mentoring, organizing meetups and events and of course sharing
        the things I learned along my way.
      </p>
      <p>And with all of that: I enjoy learning from that and grow with it.</p>
      <p>
        Apart from that I like podcasting and doing youtube stuff. <br />I weigh
        my beans for a decent espresso in the morning, I love to cook and nerd
        about fancy asian spices. I favor guitars in music and try to play as
        well. I enjoy boardgames (with Terraforming Mars being my favorite).
      </p>
      <p>
        If you prefer having the CV in printed form, please find it
        <span
          ><a
            class="prose"
            target="_blank"
            href="https://www.dropbox.com/scl/fi/i3b4x1ut74heabplobkzl/CV_HGP_EN.pdf?rlkey=rajdlep6bps8m8sawtzypmol5&e=1&st=65rn7otd&dl=0"
            >here</a
          > oder <a
            class={"prose"}
            target="_blank"
            href="https://www.dropbox.com/scl/fi/nt5c5bkf4khky8l00ycfa/CV_HGP_DE.pdf?rlkey=26shcovxua1ou2bhdzvm56idy&dl=0"
            >hier (auf Deutsch)</a
          ></span
        >
      </p>

      {
        // only display if at least one social link is enabled

        socialCount > 0 && (
          <div class="">
            <p class="mb-0">Find me online:</p>
            <Socials />
          </div>
        )
      }
    </p>

    <style>
      /* ===== Hero Section ===== */
      #hero {
        @apply pb-6 pt-8;
      }

      #hero h1 {
        @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
      }

      #hero .rss-link {
        @apply mb-6;
      }

      #hero .rss-icon {
        @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
      }

      #hero p {
        @apply my-2;
      }

      .social-wrapper {
        @apply mt-4 flex flex-col sm:flex-row sm:items-center;
      }

      .social-links {
        @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
      }

      /* ===== Featured & Recent Posts Sections ===== */
      #featured,
      #recent-posts {
        @apply pb-6 pt-12;
      }

      #featured h2,
      #recent-posts h2 {
        @apply text-2xl font-semibold tracking-wide;
      }

      .all-posts-btn-wrapper {
        @apply my-8 text-center;
      }
    </style>
  </div>
</PageLayout>
