---
import Year from "./Year.astro";
export interface Props {
  dateTimeFrom: string;
  dateTimeTo: string;
}

const { dateTimeFrom, dateTimeTo } = Astro.props;
---

<div class="flex">
  <Year dateTime={dateTimeFrom} />
  -
  <Year dateTime={dateTimeTo} />
</div>
<style></style>
