---
import Year from "./Year.astro";
export interface Props {
  dateTimeFrom: string;
  dateTimeTo?: string;
}

const { dateTimeFrom, dateTimeTo } = Astro.props;
---

<div class="flex">
  <Year dateTime={dateTimeFrom} />
  -
  {
    dateTimeTo ? (
      <Year dateTime={dateTimeTo} />
    ) : (
      <div class="font-bold text-skin-accent">today</div>
    )
  }
</div>
<style></style>
